<section class="converter-page">


<!-- JSON BOX -->
<app-json-box (uponChange)="onValidJsonChange($event)"></app-json-box>


<!-- FILTERS BOXES -->
@for (availableFilter of converterService.availableFiltersList$ | async; track $index) {
    <ui-filter-box style="margin: 5px;"
    [key]="availableFilter.key"
    [values]="availableFilter.values"
    (uponFilterChange)="onFilterChange($event)">
</ui-filter-box>
} @empty {
    <p>Enter a JSON to enable filtering data using dynamic filters</p>
}



 



<!-- TABLE  -->
@if ((converterService.tableData$ | async)?.length) {
    <ui-table-body [dataSource$]="converterService.tableData$"></ui-table-body>
} @else {
        <p>Enter a JSON to enable Tables with built-in sorting and filtering functionlities</p>
}



<!-- <ui-pagination></ui-pagination> -->

</section>