.converter-page {
    padding: 20px;
}

h2 {
    padding-left: 3rem;
    margin-top: 3rem;
}
.filters-wrapper {
    padding: 1rem 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    p {
        font-size: .8rem;
        color: dimgray;
    }
}