<section class="converter-page">


<!-- JSON BOX -->
<app-json-box (uponChange)="onValidJsonChange($event)"></app-json-box>


<!-- FILTERS BOXES -->
<h2>Filters: </h2>
<section class="filters-wrapper">


@for (availableFilter of converterService.availableFiltersList$ | async; track $index) {
    <ui-filter-box style="margin: 5px; display: block;"
    [key]="availableFilter.key"
    [values]="availableFilter.values"
    (uponFilterChange)="onFilterChange($event)">
</ui-filter-box>
} @empty {
    <p>Filters will be provided upon Entered Json</p>
}
</section>



 



<!-- TABLE  -->
@if ((converterService.tableData$ | async)?.length) {
    <ui-table-body [dataSource$]="converterService.tableData$"></ui-table-body>
}


</section>