<h2>JSON:</h2>

<mat-form-field class="json-box-wrapper" appearance="fill">

    <mat-label class="item">Enter JSON structure to convert</mat-label>
    <textarea class="item" matInput [formControl]="jsonBoxControl" rows="10"></textarea>

    @if(jsonBoxControl.untouched && jsonBoxControl.pristine) {
      <mat-hint> {{jsonBoxHint}} </mat-hint>
    }
    <!-- Validations Messages -->
    @if (jsonBoxControl.hasError('invalidJson')) {
      <mat-error> {{errorMessages.invalidJson}}</mat-error>
    } 
    @else if (jsonBoxControl.hasError('required')) {
      <mat-error> {{errorMessages.required}}</mat-error>
    }
</mat-form-field>
  