<h2 class="text-xl">JSON:</h2>

<mat-form-field  class="block rounded-lg shadow-lg my-4 mx-auto w-11/12" appearance="fill">

    <mat-label>Enter JSON</mat-label>
    <textarea  autofocus class="bg-slate-700" matInput [formControl]="jsonBoxControl" rows="8"></textarea>

    @if(jsonBoxControl.untouched && jsonBoxControl.pristine) {
      <mat-hint> {{jsonBoxHint}} </mat-hint>
    }
    <!-- Validations Messages -->
    @if (jsonBoxControl.hasError('invalidJson')) {
      <mat-error> {{errorMessages.invalidJson}}</mat-error>
    } 
    @else if (jsonBoxControl.hasError('required')) {
      <mat-error> {{errorMessages.required}}</mat-error>
    }
</mat-form-field>
  <!-- 01282529397 -->