
:host {
    display: block;
    margin-top: 1rem;
}

.json-box-wrapper {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: block;
    width: 90%;
    margin: 1rem auto;
}

h2 {
    padding-left: 5rem;
    
 }
